.text-prompt-style{
    color: black;
    background-color: white;
    border-radius: 10px;
    border-style: outset;
    border-width: 1px;
    border-color: light-gray;
}

QLabel#chatQuestion{
    background-color: blue;
    color: white;
    border-radius: 10px;
    margin: 30px;
}

QLabel#chatAnswer{
    background-color: white;
    color: black;
    border-radius: 10px;
    margin: 30px;
}